################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Top-Gun-Repo/v17
/BE/.vs/SummerPracticeWebApi
/BE/bin/Debug/net9.0
/BE/obj/Debug/net9.0
